[submodule ".p10k"]
	path = .p10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
[submodule ".vim/pack/themes/opt/nord"]
	path = .vim/pack/themes/opt/nord
	url = https://github.com/nrvnrvn/dotfiles.git
