[Unit]
Description=Lock the screen before going to sleep
Before=sleep.target

[Service]
User=%I
Environment=DISPLAY=:0
ExecStart=/usr/bin/slock

[Install]
WantedBy=sleep.target
